.navbar {
  min-height: 56px;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 1.25rem;
}

.instagram-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.instagram-link:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

